$dark-bg: #0b0d0c;
$navbar-bg: #000000;
$text-color: rgb(209, 207, 235);
$accent: #9993e0;
$selection: #776bff;
$post-hover-bg: #313131;

@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: $text-color;
  background: $dark-bg;
}

img {
  user-select: none;
}

a {
  user-select: none;
  text-decoration: none;
  color: $text-color;

  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  width: 1100px;
  margin: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $navbar-bg;
}

::-webkit-scrollbar-thumb {
  background: $accent;
  border-radius: 10px;
}

::selection {
  color: $selection;
  background: rgba(0, 0, 0, 0.8);
}

// font-family: 'Lobster Two', cursive;
