$dark-bg: #0b0d0c;
$navbar-bg: #000000;
$text-color: rgb(209, 207, 235);

@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

body {
  color: $text-color;
  background: $dark-bg;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  width: 1100px;
  margin: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $navbar-bg;
}

::-webkit-scrollbar-thumb {
  background: $text-color;
  border-radius: 10px;
}

// font-family: 'Lobster Two', cursive;
